<a href="https://colab.research.google.com/github/Vaishalisweety/python/blob/main/Data_Sturucture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**Lists**

In [1]:
mylist=['sweets','fruits','vegetables']
mylist

['sweets', 'fruits', 'vegetables']

lists are Storing Multiple items in a single varibables.

**append()**

In [2]:
mylist.append('chips')
mylist

['sweets', 'fruits', 'vegetables', 'chips']

Append is used to add the items at the last in the  single varibales

In [3]:
mylist[0]

'sweets'

mylist[0] # INDEXED, ORDERED

In [4]:
mylist[1:]

['fruits', 'vegetables', 'chips']

This will return the items from index 1 to the end

In [8]:
mylist
mylist[3]='Apple'
print(mylist)

['sweets', 'fruits', 'vegetables', 'Apple']

Change the item value from Chips to Apple

**remove()**

In [18]:
mylist=['sweets','fruits','vegetables','Apple']
mylist
mylist.remove('Apple')

In [19]:
print(mylist)

['sweets', 'fruits', 'vegetables']

remove() will remove the particular items from the list

**sort()**

In [24]:
mylist.sort()
print(mylist)

['fruits', 'sweets', 'vegetables']

sort will give the list in alphanumerically, ascending order.

**Copy**

In [25]:
list=mylist.copy()

In [26]:
print(list)

['fruits', 'sweets', 'vegetables']

copy is to copy the items by changing the name of the list.

**join**

In [27]:
list1 = ["Things", "Places", "Names"]
list2 = ["A","B","C"]

list3 = list1 + list2
print(list3)

['Things', 'Places', 'Names', 'A', 'B', 'C']

Join the lists using + operator.

**count()**

In [28]:
list.count("fruits")

1

Count is to count the number of items in th list.

**extend()**

In [30]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

Here cars have been included in fruits by using extend() command in the end of the  current list.

**index()**

In [32]:
print(list)
y=list.index('sweets')
print(y)

['fruits', 'sweets', 'vegetables']
1

Index is to Specify the particular value of the ItemsViewed.

**insert()**

In [33]:
list.insert(3,'Chips')
print(list)

['fruits', 'sweets', 'vegetables', 'Chips']

Insert is used add the Elements to the Specified position.

**clear()**

In [37]:
lists = ["apple", "banana", "cherry","Sweets","Vegetables",2,5,False,True]
lists.clear()
print(lists)

[]

clear is to remove all the items in th lists.

**pop()**

In [36]:
num=[1,3,5]
num

[1, 3, 5]

In [39]:
num.pop(2)

5

In [40]:
print(num)

[1, 3]

Removes the Element from specified position.

**reverse()**
Reverse the order the list

In [41]:
fruits = ['apple', 'banana', 'cherry','kiwi','pineapple']

fruits.reverse()
print(fruits)

['pineapple', 'kiwi', 'cherry', 'banana', 'apple']

***sets***

In [43]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

**add()**

Add the element to the set.

In [46]:
Numbers={1,7,8,9,False,"Mango"}
Numbers.add("Orange")
print(Numbers)

{False, 1, 7, 8, 9, 'Orange', 'Mango'}

**clear()**

Removes the elemnts of the set.

In [47]:
Numbers={1,7,8,9,False,"Mango"}
Numbers.clear()
print(Numbers)

set()

**copy()**

Gives the copy of the set to another set name.

In [48]:
Numbers={1,7,8,9,False,"Mango"}
All = Numbers.copy()
print(All)

{False, 1, 7, 8, 9, 'Mango'}

**difference()**

 It containing the difference between two sets.

In [49]:
N1={1,2,3,4}
N2={4,5,6,7}
N3=N2.difference(N1)
print(N3)

{5, 6, 7}

**intersection()**

Containing the elements in both the Sets.

In [50]:
N1={1,2,3,4}
N2={4,5,6,7}
N3=N2.intersection(N1)
print(N3)

{4}

**pop()**

 Removes the Element from the set. Since sets are unordered, we do not know which item will get removed.

In [54]:
N1={1,2,3,4}
N1.pop()
print(N1)

{2, 3, 4}

**remove()**

Remove the Specified elements.

In [55]:
N2={4,5,6,7}
N2.remove(7)
print(N2)

{4, 5, 6}

**union()**

Containing Union of the Sets.

In [56]:
N1={1,2,3,4}
N2={4,5,6,7}
N3=N1.union(N2)
print(N3)

{1, 2, 3, 4, 5, 6, 7}

**update()**

Insert the items from set1 into set x2.

In [58]:
set1={1,2,3,5,7,8,"Mango","Orange"}
set2={"kiwi","pineapple","grapes"}
set1.update(set2)
print(set1)

{1, 2, 3, 'pineapple', 5, 'grapes', 7, 8, 'Orange', 'kiwi', 'Mango'}

**difference_update()**

Remove the items that exist in both sets that are also included in another, specified set.

In [60]:
x = {4,8,0}
y = {1,2,3,5}

x.difference_update(y)

print(x)

{8, 0, 4}

**discard()**

It will remove the specified item.

In [61]:
set1={1,2,3,5,7,8,"Mango","Orange"}
set1.discard(8)
print(set1)

{1, 2, 3, 5, 7, 'Orange', 'Mango'}

**symmetric_difference()**

Returns a set with the symmetric differences of two sets

In [63]:
x={1,2,3,5,7,8,"Mango","Orange"}
y={"kiwi","pineapple","grapes",3,5,8}
z = x.symmetric_difference(y)
print(z)

{'grapes', 'pineapple', 1, 2, 7, 'Orange', 'kiwi', 'Mango'}

**symmetric_difference_update()**


Remove the items that are present in both sets, AND insert the items that is not present in both sets.

In [65]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y) 
print(x)

{'microsoft', 'cherry', 'google', 'banana'}

**issubset()**

Return True if no items in set x is present in set y.

In [67]:
x = {"a", "b", "c"}
y = {"f", "e", "d"}
z = x.issubset(y)
print(z)

False

**isdisjoint()**

 Returns whether two sets have a intersection or not

In [69]:
x = {"a", "b", "c"}
y = {"f", "e", "d"}
z = x.isdisjoint(y)
print(z)

True

**issuperset()**

 Returns whether this set contains another set or not.

In [71]:
x = {"hima","Priya","Ambika","Rahul","Manoja"}
y = {"hima","Rahul","Priya"}
z = x.issuperset(y)
print(z)

True

**intersection_update()**

Remove the items that is not present in both x and y.

In [77]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y) 
print(x)

{'apple'}

**Dictionaries**

Dictionaries are used to store data values in key:value pairs.

In [80]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [81]:
numeric = {"brand": "Ford","model": "Mustang","year": 1964}
print(numeric)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**clear()**

Remove all the values from the Dictionaries.

In [82]:
numeric.clear()
print(numeric)

{}

**items()**


Returns both key and value in seperate tuple.

In [84]:
dict1 = {"Brand" : "Ford", "Model" : "Mustang", "Year" : 1974, "Auto-transmission" : False, "Engine-CC" : 450.88, 4 : 'Yes', 4.25 : "No", True : "suspension"}
dict1.items()

dict_items([('Brand', 'Ford'), ('Model', 'Mustang'), ('Year', 1974), ('Auto-transmission', False), ('Engine-CC', 450.88), (4, 'Yes'), (4.25, 'No'), (True, 'suspension')])

**setdefault()**

Returns the value of the item with the specified key.

In [86]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.setdefault("model", "Bronco")
print(x)

Mustang

**update()**

Inserts the specified items to the dictionary.

In [91]:
keys = { "Animal1": "lion", "Animal2": "tiger", "Animal3": "deer"}
keys.update({"Animal4":"monkey"})
keys

{'Animal1': 'lion', 'Animal2': 'tiger', 'Animal3': 'deer', 'Animal4': 'monkey'}

**copy()**

Returns a copy of the specified dictionary.

In [92]:
num={"food1": "Maggi", "food2": "briyani"}
raju=num.copy()
print(raju)

{'food1': 'Maggi', 'food2': 'briyani'}

**fromkeys**

Returns a dictionary with the specified keys and the specified value.

In [93]:
Q={'key1','key2','key3','key4'}
z= 7
K = dict.fromkeys(Q, z)
print(K)

{'key1': 7, 'key4': 7, 'key2': 7, 'key3': 7}

**get()**

Returns the value of the item with the specified key.

In [95]:
Q={"key1": "Apple","key2": "Orange","key3": "Banana"}
S=Q.get('key2')
print(S)

Orange

**values()**

Returns a list of all the values in the dictionary.

In [96]:
Q={"key1": "Apple","key2": "Orange","key3": "Banana"}
S=Q.values()
print(S)

dict_values(['Apple', 'Orange', 'Banana'])

**pop()**

specified key value will be returned and removed from the dictionary.

In [97]:
Q={"key1": "Apple","key2": "Orange","key3": "Banana"}
Q.pop('key3')
print(Q)

{'key1': 'Apple', 'key2': 'Orange'}

**keys()**

Returns all the keys and only keys.

In [99]:
Q={"key1": "Apple","key2": "Orange","key3": "Banana"}
S=Q.keys()
print(S)

dict_keys(['key1', 'key2', 'key3'])

**popitem()**

Removes the last inserted key-value pair

In [100]:
Q={"key1": "Apple","key2": "Orange","key3": "Banana"}
Q.popitem()
print(Q)

{'key1': 'Apple', 'key2': 'Orange'}

**Tuples**

A tuple is a collection which is ordered and unchangeable.

In [101]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

**count()**

Returns the number of times a specified value that occurs.

In [106]:
numbers=(1,2,2,7,3,4,5,4,1,7,8,3)
Z=numbers.count(2)
print(Z)

2

**index()**

Search for the first occurrence of the value and return its position.

In [108]:
greater = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = greater.index(7)
print(x)

2