<a href="https://colab.research.google.com/github/Vaishalisweety/python/blob/main/List(19_09_22).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List in Ascending order

In [3]:
myList = [21, 10, 18, 9]
myList.sort(reverse=False)
print(myList)

[9, 10, 18, 21]

List in Descending order

In [4]:
myList = [21, 10, 18, 9]
myList.sort(reverse=True)
print(myList)

[21, 18, 10, 9]

Prime Numbers between 2 numbers

In [6]:
lower = 700
upper = 900

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 700 and 900 are:
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887

For Loops

In [7]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [8]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [9]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple