In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\2211551\anacondaf\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\2211551\anacondaf\lib\site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "password")

In [4]:
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")

In [5]:
for i in mycursor:
    print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('trail1',)
('world',)

In [6]:
mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "password",
database="sakila")

In [7]:
mycursor = mydb.cursor()
mycursor.execute("select*from actor")

In [8]:
for i in mycursor:
    print(i)

(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(6, 'BETTE', 'NICHOLSON', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(7, 'GRACE', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(8, 'MATTHEW', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(9, 'JOE', 'SWANK', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(10, 'CHRISTIAN', 'GABLE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(11, 'ZERO', 'CAGE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(12, 'KARL', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(13, 'UMA', 'WOOD', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(14, 'VIVIEN', 'BERGEN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(15, 'CUBA', 'OLIVIER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(16, 'FRED', 'COSTNER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(17, 'HELEN', 'VOIGHT', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(18, 'DAN', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(19, 'BOB', 'FAWCETT', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(20, 'LUCILLE', 'TRACY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(21, 'KIRSTEN', 'PALTROW', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(22, 'ELVIS', 'MARX', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(23, 'SANDRA', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(24, 'CAMERON', 'STREEP', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(25, 'KEVIN', 'BLOOM', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(26, 'RIP', 'CRAWFORD', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(27, 'JULIA', 'MCQUEEN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(28, 'WOODY', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(29, 'ALEC', 'WAYNE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(30, 'SANDRA', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(31, 'SISSY', 'SOBIESKI', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(32, 'TIM', 'HACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(33, 'MILLA', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(34, 'AUDREY', 'OLIVIER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(35, 'JUDY', 'DEAN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(36, 'BURT', 'DUKAKIS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(37, 'VAL', 'BOLGER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(38, 'TOM', 'MCKELLEN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(39, 'GOLDIE', 'BRODY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(40, 'JOHNNY', 'CAGE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(41, 'JODIE', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(42, 'TOM', 'MIRANDA', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(43, 'KIRK', 'JOVOVICH', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(44, 'NICK', 'STALLONE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(45, 'REESE', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(46, 'PARKER', 'GOLDBERG', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(47, 'JULIA', 'BARRYMORE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(48, 'FRANCES', 'DAY-LEWIS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(49, 'ANNE', 'CRONYN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(50, 'NATALIE', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(51, 'GARY', 'PHOENIX', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(52, 'CARMEN', 'HUNT', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(53, 'MENA', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(54, 'PENELOPE', 'PINKETT', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(55, 'FAY', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(56, 'DAN', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(57, 'JUDE', 'CRUISE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(58, 'CHRISTIAN', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(59, 'DUSTIN', 'TAUTOU', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(60, 'HENRY', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(61, 'CHRISTIAN', 'NEESON', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(62, 'JAYNE', 'NEESON', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(63, 'CAMERON', 'WRAY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(64, 'RAY', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(65, 'ANGELA', 'HUDSON', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(66, 'MARY', 'TANDY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(67, 'JESSICA', 'BAILEY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(68, 'RIP', 'WINSLET', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(69, 'KENNETH', 'PALTROW', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(70, 'MICHELLE', 'MCCONAUGHEY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(71, 'ADAM', 'GRANT', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(72, 'SEAN', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(73, 'GARY', 'PENN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(74, 'MILLA', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(75, 'BURT', 'POSEY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(76, 'ANGELINA', 'ASTAIRE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(77, 'CARY', 'MCCONAUGHEY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(78, 'GROUCHO', 'SINATRA', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(79, 'MAE', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(80, 'RALPH', 'CRUZ', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(81, 'SCARLETT', 'DAMON', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(82, 'WOODY', 'JOLIE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(83, 'BEN', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(84, 'JAMES', 'PITT', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(85, 'MINNIE', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(86, 'GREG', 'CHAPLIN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(87, 'SPENCER', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(88, 'KENNETH', 'PESCI', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(89, 'CHARLIZE', 'DENCH', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(90, 'SEAN', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(91, 'CHRISTOPHER', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(92, 'KIRSTEN', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(93, 'ELLEN', 'PRESLEY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(94, 'KENNETH', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(95, 'DARYL', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(96, 'GENE', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(97, 'MEG', 'HAWKE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(98, 'CHRIS', 'BRIDGES', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(99, 'JIM', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(100, 'SPENCER', 'DEPP', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(101, 'SUSAN', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(102, 'WALTER', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(103, 'MATTHEW', 'LEIGH', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(104, 'PENELOPE', 'CRONYN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(105, 'SIDNEY', 'CROWE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(106, 'GROUCHO', 'DUNST', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(107, 'GINA', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(108, 'WARREN', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(109, 'SYLVESTER', 'DERN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(110, 'SUSAN', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(111, 'CAMERON', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(112, 'RUSSELL', 'BACALL', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(113, 'MORGAN', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(114, 'MORGAN', 'MCDORMAND', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(115, 'HARRISON', 'BALE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(116, 'DAN', 'STREEP', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(117, 'RENEE', 'TRACY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(118, 'CUBA', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(119, 'WARREN', 'JACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(120, 'PENELOPE', 'MONROE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(121, 'LIZA', 'BERGMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(122, 'SALMA', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(123, 'JULIANNE', 'DENCH', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(124, 'SCARLETT', 'BENING', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(125, 'ALBERT', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(126, 'FRANCES', 'TOMEI', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(127, 'KEVIN', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(128, 'CATE', 'MCQUEEN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(129, 'DARYL', 'CRAWFORD', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(130, 'GRETA', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(131, 'JANE', 'JACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(132, 'ADAM', 'HOPPER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(133, 'RICHARD', 'PENN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(134, 'GENE', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(135, 'RITA', 'REYNOLDS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(136, 'ED', 'MANSFIELD', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(137, 'MORGAN', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(138, 'LUCILLE', 'DEE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(139, 'EWAN', 'GOODING', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(140, 'WHOOPI', 'HURT', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(141, 'CATE', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(142, 'JADA', 'RYDER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(143, 'RIVER', 'DEAN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(144, 'ANGELA', 'WITHERSPOON', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(145, 'KIM', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(146, 'ALBERT', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(147, 'FAY', 'WINSLET', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(148, 'EMILY', 'DEE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(149, 'RUSSELL', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(150, 'JAYNE', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(151, 'GEOFFREY', 'HESTON', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(152, 'BEN', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(153, 'MINNIE', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(154, 'MERYL', 'GIBSON', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(155, 'IAN', 'TANDY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(156, 'FAY', 'WOOD', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(157, 'GRETA', 'MALDEN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(158, 'VIVIEN', 'BASINGER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(159, 'LAURA', 'BRODY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(160, 'CHRIS', 'DEPP', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(161, 'HARVEY', 'HOPE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(162, 'OPRAH', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(163, 'CHRISTOPHER', 'WEST', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(164, 'HUMPHREY', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(165, 'AL', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(166, 'NICK', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(167, 'LAURENCE', 'BULLOCK', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(168, 'WILL', 'WILSON', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(169, 'KENNETH', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(170, 'MENA', 'HOPPER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(171, 'OLYMPIA', 'PFEIFFER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(172, 'GROUCHO', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(173, 'ALAN', 'DREYFUSS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(174, 'MICHAEL', 'BENING', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(175, 'WILLIAM', 'HACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(176, 'JON', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(177, 'GENE', 'MCKELLEN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(178, 'LISA', 'MONROE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(179, 'ED', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(180, 'JEFF', 'SILVERSTONE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(181, 'MATTHEW', 'CARREY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(182, 'DEBBIE', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(183, 'RUSSELL', 'CLOSE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(184, 'HUMPHREY', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(185, 'MICHAEL', 'BOLGER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(186, 'JULIA', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(187, 'RENEE', 'BALL', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(188, 'ROCK', 'DUKAKIS', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(189, 'CUBA', 'BIRCH', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(190, 'AUDREY', 'BAILEY', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(191, 'GREGORY', 'GOODING', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(192, 'JOHN', 'SUVARI', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(193, 'BURT', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(194, 'MERYL', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(195, 'JAYNE', 'SILVERSTONE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(196, 'BELA', 'WALKEN', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(197, 'REESE', 'WEST', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(198, 'MARY', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(199, 'JULIA', 'FAWCETT', datetime.datetime(2006, 2, 15, 4, 34, 33), None)
(200, 'THORA', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33), None)

In [9]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE actorinf (name VARCHAR(200),age INT(3), address VARCHAR(500))")

In [10]:
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")

for i in mycursor:
    print(i)

('actor',)
('actor_info',)
('actorinf',)
('address',)
('category',)
('city',)
('country',)
('customer',)
('customer_list',)
('film',)
('film_actor',)
('film_category',)
('film_list',)
('film_text',)
('inventory',)
('language',)
('nicer_but_slower_film_list',)
('payment',)
('rental',)
('sales_by_film_category',)
('sales_by_store',)
('staff',)
('staff_list',)
('store',)

In [12]:
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE actorinf ADD COLUMN new varchar(10)")

In [14]:
mycursor = mydb.cursor()
mycursor.execute("DESCRIBE actorinf")
for i in mycursor:
    print(i)

('name', b'varchar(200)', 'YES', '', None, '')
('age', b'int', 'YES', '', None, '')
('address', b'varchar(500)', 'YES', '', None, '')
('new', b'varchar(10)', 'YES', '', None, '')

In [16]:
#deleting table
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE actorinf")

In [17]:
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")

In [18]:
for i in mycursor:
    print(i)

('actor',)
('actor_info',)
('address',)
('category',)
('city',)
('country',)
('customer',)
('customer_list',)
('film',)
('film_actor',)
('film_category',)
('film_list',)
('film_text',)
('inventory',)
('language',)
('nicer_but_slower_film_list',)
('payment',)
('rental',)
('sales_by_film_category',)
('sales_by_store',)
('staff',)
('staff_list',)
('store',)